In [1]:
# importing libraries
import ast 
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# cleaning data
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [4]:
df_exploded = df.explode('job_skills')

In [10]:
skills_count = df_exploded.groupby(['job_title_short', 'job_skills']).size()
skills_count

job_title_short    job_skills
Business Analyst   airflow        318
                   airtable        17
                   alteryx       1078
                   angular         87
                   ansible        120
                                 ...
Software Engineer  wrike            4
                   wsl             13
                   xamarin         35
                   yarn           145
                   zoom           229
Length: 2256, dtype: int64

In [9]:
df_skills_count = skills_count.reset_index(name='skills_count')
df_skills_count = df_skills_count.sort_values(by='skills_count', ascending=False)
df_skills_count

            job_title_short   job_skills  skills_count
1066         Data Scientist       python        113711
865           Data Engineer          sql        113130
830           Data Engineer       python        108022
625            Data Analyst          sql         92428
1101         Data Scientist          sql         78982
...                     ...          ...           ...
266          Cloud Engineer       delphi             1
1920  Senior Data Scientist  objective-c             1
1400    Senior Data Analyst      couchdb             1
298          Cloud Engineer      haskell             1
631            Data Analyst         suse             1

[2256 rows x 3 columns]